
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <label>
        Name <input name="Name" />
    </label>
    <br />
    <label>
        Description <input name="Description"/>
    </label>
    <br />
    <button type="submit">Submit</button>
</form>